@use "../abstracts/functions" as functions;
@use "../abstracts/variables" as variables;

.final-score {
    width: functions.px-to-rem(323);
    max-width: calc(100% - functions.px-to-rem(32));
    color: variables.$color-white;

    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        height: functions.px-to-rem(56);
        margin: 0;
        font-size: functions.px-to-rem(26);
        line-height: 1;
    }

    &__values {
        display: flex;
        align-items: center;
        justify-content: center;
        height: functions.px-to-rem(62);
        gap: functions.px-to-rem(28);
        background-color: variables.$color-game-control;
        font-family: "Red Rose", Georgia, serif;
    }
}

@media (max-width: functions.px-to-rem(390)) {
    .final-score__values {
        gap: functions.px-to-rem(16);
    }
}
