$color-primary-dark: #303131;
$color-secondary-yellow: #f0ea6e;
$color-white: #ffffff;
$color-light-gray: #f7f7f7;
$color-player-blue: #2bb1ff;
$color-player-orange: #f58e39;
$color-code-vibes: #48c7b0;
$color-result-green: #4dd5bc;
$color-game-control: #405752;
$color-gaming-background: #28576c;
$color-gaming-header: #545d75;
$color-gaming-pink: #ed1b76;
$color-gaming-light: #f6f1f3;
