@font-face {
    font-family: "Almarai";
    src: url("/assets/fonts/almarai-regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Red Rose";
    src: url("/assets/fonts/red-rose-variable.ttf") format("truetype");
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
}

@font-face {
    font-family: "Orbitron";
    src: url("/assets/fonts/orbitron-variable.ttf") format("truetype");
    font-style: normal;
    font-weight: 400 900;
    font-display: swap;
}
